@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styling (optional) */
body {
    @apply bg-gray-50 text-gray-700;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #c3c8ff;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}