services:
  - type: web
    name: prescripto-backend
    rootDirectory: backend
    env: node
    region: singapore
    buildCommand: >
      cd .. &&
      npm install &&
      npm run build &&
      cd backend &&
      npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 4000
      - key: MONGODB_URI
        sync: false
      - key: CLOUDINARY_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_SECRET_KEY
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: ADMIN_EMAIL
        sync: false
      - key: ADMIN_PASSWORD
        sync: false
      - key: PAYMENT_MODE
        value: TEST
      - key: CURRENCY
        value: INR
